.label {
    text-align: center;
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 5px;
    color: #4f8;
    font-family: sans-serif;
    background: rgba( 0, 0, 0, .6 );
  }